@import "https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap";

:root {
  --default-text-color: white;
}

::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-family: "Ubuntu", sans-serif;
}

.main-login-image {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)),
    url("/login/background.jpg");
  background-position: center;
  background-size: cover;
}

.main-login-container {
  width: 80%;
  height: 70%;
  position: relative;
  padding-top: 5%;
  margin: 0 auto;
  text-align: center;
}

.login__title {
  min-width: 40%;
  width: 11%;
  height: 11%;
  display: inline-table;
  margin-bottom: 10%;
}

.login__title h1 {
  font-size: 5rem;
  color: var(--default-text-color);
}

.login__input-text {
  position: relative;
  width: 300px;
  min-width: 288px;
  height: 40px;
  margin: 0 auto 60px;
  border-bottom: 1px solid #457b9d;
}

.login__input-text input {
  width: 100%;
  height: 40px;
  background: none;
  outline: none;
  border: none;
  font-size: 1.6rem;
  color: var(--default-text-color);
}

.login__input-btn {
  width: 200px;
  height: auto;
  margin: 0 auto;
}

.login__input-btn_container button {
  width: 50%;
  height: 40px;
  font-size: 2rem;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  background-color: skyblue;
}

.login-new-session {
  margin: 30px;
  font-size: 1.5rem;
  color: var(--default-text-color);
}

.login-new-session a {
  font-size: 1.5rem;
  color: purple;
}
